# Build outputs
bin/
obj/
publish/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docobj

# Rider
.idea/

# Python bytecode
__pycache__/
*.pyc

# OS
Thumbs.db
desktop.ini
DSR-Gadget/
ListParamsTool/
luac.out
